name: Infra Terraform

on:
  push:
    branches:
      - dev
      - hml
      - prod
  pull_request:
    branches:
      - dev
      - hml
      - prod
  workflow_dispatch:
    inputs:
      env:
        description: 'Ambiente de destino'
        required: true
        type: choice
        default: hml
        options:
          - dev
          - hml
          - prod

jobs:
  terraform-apply:
    name: Terraform Apply
    runs-on: ubuntu-latest

    env:
      ENV: ${{ github.event.inputs.env || (github.ref_name == 'prod' && 'prod') || (github.ref_name == 'hml' && 'hml') || (github.ref_name == 'dev' && 'dev') }}
      AWS_REGION: us-east-2

    defaults:
      run:
        working-directory: pipeline-ecs-teddy/terraform-iac-ecs

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_pipeline_ecs_teddy }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_pipeline_ecs_teddy }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.5
          terraform_wrapper: false

      - name: Terraform init (S3 backend)
        run: terraform init -backend-config="region=${AWS_REGION}"

      - name: Select or create workspace
        run: |
          terraform workspace select ${ENV} || terraform workspace new ${ENV}

      - name: Terraform validate
        run: terraform validate

      - name: Terraform plan
        run: terraform plan -var-file="environments/${ENV}.tfvars"

      - name: Terraform apply
        run: terraform apply -auto-approve -var-file="environments/${ENV}.tfvars"